@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
/* colors */
:root{
   --Light-Cyan: hsl(228, 45%, 44%);
   --Neon-Green: #52ffa8;
}

/* Universal Selector */
*{
    font-family: "Manrope", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* body */
html,body {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 0px;
}
body{
    background-color: rgba(26, 27, 33, 0.95);
}
/* Main */
main{
    
    padding: 30px 50px;
    border-radius: 10px;
    text-align: center;
    background-color: #323a49;
    max-width: 550px;
    margin: auto 20px;
    
}


/* Advice Id */
.advice-id{
    color: #52ffa8;
    text-transform: uppercase;
    word-spacing: 10px;
}

/* Advice Text */
.advice-text{
    margin: 20px auto 0; 
    font-size: 28px;
    width: 100%;
    color: hsl(228, 45%, 44%);
}

/* Divider */
.divider{
    margin: 20px 0 30px;
    background-size: 100% 100%;
    width: 100%;
}
#click{
    background-color: var(--Neon-Green);
    border-radius: 50%;
    padding: 15px 16px 12px;
    border: 0;
    margin: 0 auto -50px;
    
    
}
#click img{
    width: 23px;
    
    
}
#click:hover {
    box-shadow: 0 0 40px #52ffa8;
    
}

/* Attribution */
.attribution { 
    font-size: 0.8rem; 
    text-align: center;
    background-color: var(--Dark-Grayish-Blue);
    padding: 10px;
    color: var(--Light-Cyan);
} 
.attribution a { 
    font-size: 11px;
    text-align: center;
    color:#52ffa8; 
}

/* Media Query */
@media (min-width: 530px) {
    main{
        margin: auto;
    }
}



